{{define "partials/header"}}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h4>{{.Title}}</h4>
    {{if .Actions}}
    <div>
        {{range .Actions}}
        <a href="{{.URL}}" class="btn btn-{{.Color}}">
            <i class="bi bi-{{.Icon}}"></i> {{.Label}}
        </a>
        {{end}}
    </div>
    {{end}}
</div>
{{end}}
